= render "shared/search_requests"
.col-xs-12.col-sm-12
  .col-xs-2.col-sm-2
  .col-xs-10.col-sm-10
    #content_buy{style: "background-color:#EEEEEE;height:500px;width:80%;float:left;"}
      Content goes here
