%h1 jQuery UI Widget
%p
  You can see this example with different themes on the
  %a{href: "http://plupload.com/example_jquery_ui.php"} www.plupload.com
  website.
%form#form{action: "/echo/json", method: "post"}
  #uploader
    %p Your browser doesn't have Flash, Silverlight or HTML5 support.
  %br/
  %input{type: "submit", value: "Submit"}/