.container
  .row
    %form.form-vertical
      %fieldset
        %label.radio-inline
          %input#inlineCheckbox1{:name => "types of operation", :type => "radio", :value => "resedential"}
          residentail
        %label.radio-inline
          %input#inlineCheckbox2{:name => "types of operation", :type => "radio", :value => "commercial"}
          commercial
        %label.radio-inline
          %input#inlineCheckbox2{:name => "types of operation", :type => "radio", :value => "land"}
          land
        %label.radio-inline
          %input#inlineCheckbox2{:name => "types of operation", :type => "radio", :value => "pg/rent"}
          pg/rent
        %label{:for => ""}
          %br
          %br
        .row
          .col-xs-2.col-md-2
            property type
            %select.form-control
              %option{:value => "property type"} property type
              %option plots
              %option apartments
              %option independent houses
          .col-xs-2.col-md-2
            property features
            %select.form-control
              %option{:value => "features"} property features
              %option 1bhk
              %option 2bhk
              %option 3bhk
              %option 2 car oarking
              %option swiming pool
          .col-xs-2.col-md-2
            locality
            %select.form-control
              %option{:value => "locality"} locality
              %option hi-tech
              %option tarnaka
              %option kukatpally
              %option kothaguda
              %option yusfguda
              %option nanakram guda
              %option kphb
              %option ameerpet
          .col-xs-2.col-md-2
            property facing
            %select.form-control
              %option{:value => "property facing"} property facing
              %option north
              %option south
              %option east
              %option west
              %option south east
      %br
        .row
          .col-xs-2.col-md-2
            to
            %input.form-control.input-extra.small{:name => "builtup area", :placeholder => "builtup area", :type => "text", :value => ""}
              
          .col-xs-2.col-md-2
            sqft
            %input.form-control.input-extra.small{:name => "to", :placeholder => "builtup area", :type => "text", :value => ""}
            
      %br
        .row
          .col-xs-2.col-md-2.form-group
            min price
            %input#price.form-control{:autofocus => "", :name => "min price", :placeholder => "price", :price => "min price", :required => "", :type => "price"}
          .col-xs-2.col-md-2.form-group
            max price
            %input#price.form-control{:name => "max price", :placeholder => "price", :price => "max price", :required => "", :to => "", :type => "price"}
      %br
        
      %br
        .col-xs-2.col-md-2.form-group
          title
          %input#title.form-control{:placeholder => "title", :required => "", :title => "title", :to => "", :type => "title"}
      %br
      .col-xs-2.col-md-2.form-group
        description
        %textarea#description.form-control{:cols => "25", :name => "description", :placeholder => "description", :required => "required", :rows => "6"}
        
         
        %button.btn.btn-primary.pull-right{:type => "post"}
          post
